@using DotaBuilder.Components.Data
@using DotaBuilder.Components.Data.Classes
@inject ItemClass ItemClass

@if (itemClass != null)
{
    <Tooltip_class Tip="@itemClass.GetToolTip(itemClass.ItemDescription)">
        <Draggable Data="itemClass">
            <button class="@itemClass.ItemID @itemClass.ItemCssClass"
                    style="background-image:url(@itemClass.ItemBackgroundPath);"
                    id="@itemClass.ItemID"
                    @onclick="@(() => OnClickEvent.InvokeAsync(itemClass.eventCallbackItemsArgs))"
                    @onmouseover="@(() => OnHoverEvent.InvokeAsync(itemClass.eventCallbackItemsArgs))">
            </button>
        </Draggable>
    </Tooltip_class>
}
<style>
    .item-button {
        border: none;
        border-radius: 5px;
        cursor: pointer;
        object-fit: fill;
        background-repeat: no-repeat;
        background-size: contain;
        height: 44px;
        width: 60px;
    }

    .item-button:hover {
        background-color: #black;
    }
</style>

@code {

    [Parameter]
    public ItemClass itemClass { get; set; }

    [Parameter]
    public EventCallback<EventCallbackItemArgs> OnClickEvent { get; set; }

    [Parameter]
    public EventCallback<EventCallbackItemArgs> OnHoverEvent { get; set; }

}